# Ambiente virtual
venv/

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Logs
logs/
*.log

# Arquivos temporários
*.xlsx
*.csv

# Arquivos de debug
debug/
debug_area/

# Outros
.env
.DS_Store

# Build directories
build/
dist/
dist_package/

# Tesseract
Tesseract-OCR/

# IDE specific
.vscode/
.idea/

# Spec files
*.spec 